@font-face {
  font-family: pixel-medieval;
  src: url(/assets/fonts/pixel-medieval.ttf);
}

@font-face {
  font-family: pixel;
  src: url(/assets/fonts/handjet.ttf);
}

:root {
  --default-font: 'pixel';
  --default-dark-color: '#070c0f';
}

body, html {
  height: 100vh;
  margin: 0;
  font-family: var(--default-font);
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
  color: var(--default-dark-color);
}

main, #root {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
